<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Webber</title>

    <style>
        /*capture width 820px for breakpoint*/

       body{
            background-color: #EEEEEE;
            font-family: 'Open Sans', sans-serif;
        }

        #body{
            width: 70%;
            margin: 0 auto;
        }

        .header h1{
            font-weight: bold;
        }

        .header p{
            color: #7b7b7d;
        }

        .authors-grep{
            background-color: #EEEEEE;
            box-shadow: 2px 3px 7px #888888;
            margin: 2em 0 2em 0;
        }

        .authors-grep .header{
            display: flex;
            align-items: center;
            padding: 5px;
            border-bottom: 0.5px solid #d0d0d0;
        }

        .authors-grep .header img{
            border-radius: 50%;
            width: 3%;
            height:0%;
        }
        .authors-grep .header p{
           color: #AFB8C2;
            font-weight: 600;
            font-size: 13px;
            padding-left:8px;
        }
        .author-name{
            color: #F64611;
        }
        .body{
            display: flex;
            padding:1em;
            align-items: flex-start;
        }
        .body .text{
            padding: 0 1em 0 1em;
        }
        .body .text h3{
            margin:0;
            color: #0E1119;
            font-size: 1.5em;
        }

        .body .text p{
            color: #7b7b7d;
        }

        .body .text {
            text-align: justify;
        }

        .second{
            background-color: #CCECFF;
        }
    </style>

</head>
<body>

<div id="body">
    <div class="header">
        <h1>MAQE Forum</h1>
        <p>Your current timezone is: Asia / Bangkok</p>
    </div>


    {% for key, post in posts %}
        <div class="authors-grep {% if (key+1) % 2 == 0 %} second {% endif %}">
            <div class="header">
                <img src="{{ post.author_avatar }}" alt="">
                <p><span class="author-name">{{ post.author_name }}</span> posted on {{ post.created_at }}</p>
            </div>

            <div class="body">
                <div class="image">
                    <img src="{{ post.image_url }}" alt="">
                </div>
                <div class="text">
                    <h3>{{post.title}}</h3>
                    <p>
                        {{post.body }}
                    </p>
                </div>
            </div>
        </div>

    {% endfor %}


{#    <div class="authors-grep second">#}
{#        <div class="header">#}
{#            <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="">#}
{#            <p><span class="author-name">Jason Bourne</span> posted on Saturday, May 9, 2020, 00:01</p>#}
{#        </div>#}

{#        <div class="body">#}
{#            <div class="image">#}
{#                <img src="https://picsum.photos/id/1/320/240" alt="">#}
{#            </div>#}
{#            <div class="text">#}
{#                <h3>Let's see this awesome post</h3>#}
{#                <p>#}
{#                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate deleniti dignissimos earum eos#}
{#                    explicabo harum ipsam iure magnam minima molestias nostrum nulla officia quaerat quam, sed, similique#}
{#                    sint temporibus?#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

</div>

</body>
</html>